body{
    background-color: #488074;
    font-family: Arial, sans-serif;
    color: #333;
}

.kartu-profil {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
}

.kartu-profil img {
    width: 150px;
    border-radius: 50%;
}

.kartu-profil {
    text-align: center;
}
